.grid-container {
  display: grid;
}

body{
	background-color: gold;
}

h1 {
  font-size: 5em;
  color: gold;
  text-align: center;
  background-color: darkblue;
  border: 5px solid black;
  padding: .15em;
}

#score {
  font-size: 3em;
  color: gold;
  text-align: center;
}

.carousel-inner img {
  margin: auto;
}

.descriptor {
	font-size: 2em;
	margin-left: 7em;
	margin-right: 7em;
}
.navbar-brand{
	color: gold;
}

.btn-primary{
	color: gold;
	background-color: darkblue;
}

.carousel-background{
	height: 360px;
	background-color: gold;
}

.modal-body{
	background-color: gold;
}

.modal-footer{
	background-color: darkblue;
}

.modal-header{
	background-color: darkblue;
}

.modal-title{
	color: gold;
}

.modal-content{
	background-color: black;
}

.aria-label{
	color: white;
}

.bounding {
	margin-right: 7em;
	margin-left: 7em;
	background-color: white;
	height: 100%;
}