.grid-container {
  display: grid;
}

h1 {
  font-size: 5em;
  color: gold;
  text-align: center;
}

#score {
  font-size: 3em;
  color: gold;
  text-align: center;
}

.carousel-inner img {
  margin: auto;
}

