.grid-container {
  display: grid;
}

h1 {
  font-size: 5em;
  color: gold;
  text-align: center;
  background-color: darkblue;
  border: 5px solid black;
  border-radius: 25px;
}

#score {
  font-size: 3em;
  color: gold;
  text-align: center;
}

.carousel-inner img {
  margin: auto;
}

.descriptor {
	font-size: 2em;
}
.navbar-brand{
	color: gold;
}

.btn-primary{
	color: gold;
	background-color: darkblue;
}

.carousel-background{
	height: 360px;
	background-color: gold;
}

.modal-body{
	background-color: gold;
}